<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <br>           
	<div class="container">
	   <div class="row">
	      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
	           <h1 class="text-center" th:text="${titulo}"></h1>
	           <div class="card-body">
	              <form th:action="@{/bolsaPuntosForm}" th:object="${bolsapuntos}" method="post">
	                 <input type="hidden" th:field="*{id}" th:value="${bolsapuntos.id}"/>
                         <div class="form-group">
                            <label>Clientes : </label>
                            <select th:field="*{cliente}" class="form-control">
                                <th:block th:each="cliente : ${listadoClientes}">
                                    <option th:value="${cliente.id}" th:text="${cliente.id}+'-'+ ${cliente.nombre} +' '+ ${cliente.apellido}">
                                </th:block>
                            </select>
	                 </div>
                         <div class="form-group">
	                    <label>Fecha de asignacion puntaje : </label>
	                    <input type="date" th:field="*{fecha_asignacion_puntaje}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('fecha_asignacion_puntaje')}" th:errors="*{fecha_asignacion_puntaje}"></small> 
	                 </div>
                         <div class="form-group">
	                    <label>Ingresa el monto de compra: </label>
	                    <input type="number" th:field="*{monto_operacion}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('monto_operacion')}" th:errors="*{monto_operacion}"></small> 
	                 </div>
	                 <div class="box-footer"> 
	                     <input type="submit" value="Guardar" class="btn btn-primary">
	                 </div>
	              </form>
	           </div>
	      </div>
	   </div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>