<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<br>
	
	<div class="container">
	   <div class="row">
	      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
	           <h1 class="text-center" th:text="${titulo}"></h1>
	           <div class="card-body">
                        <form th:action="@{/guardarDetalle}" th:object="${usopuntosdet}" method="post">
                           <input type="hidden" th:field="*{id}" th:value="${usopuntosdet.id}">
                           <input type="hidden" th:field="*{uso_punto_cab_id}" th:value="${usopuntosdet.uso_punto_cab_id.id}">
                               <div class="form-group">
                              <label>Clientes : </label>
                              <select th:field="*{cliente}" class="form-control">
                                  <th:block th:each="cliente : ${listadoClientes}">
                                      <option th:value="${cliente.id}" th:text="${cliente.id}+'-'+ ${cliente.nombre} +' '+ ${cliente.apellido}">
                                  </th:block>
                              </select>
                           </div>
                           <div class="form-group">
                               <label>Bolsa de puntos : </label>
                              <select th:field="*{bolsapuntos}" class="form-control">
                                  <option value="0">Seleccionar</option>
                                  <option th:each="bolsapuntos : ${listBolsapuntos}" th:value="${bolsapuntos.id}" th:text="${bolsapuntos.id}" ></option>
                              </select>
                           </div>
                           <div class="form-group">
                              <label>Indicar el puntaje utilizado por bolsa: </label>
                              <input type="number" th:field="*{puntaje_utilizado}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                              <small class="form-text text-danger" th:if="${#fields.hasErrors('puntaje_utilizado')}" th:errors="*{puntaje_utilizado}"></small> 
                           </div>
                           <div class="box-footer"> 
                               <input type="submit" value="Guardar" class="btn btn-primary">
                           </div>
                        </form>
                      </form>
	           </div>
	      </div>
	   </div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>