<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>
    <header th:replace="layout/layout :: header"></header>
        <div class="py-4 ml-5 mr-5">
            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>
                    <div class="card-body">
                        <h4 class="card-title">
                        <a th:href="@{/premioForm}" class="btn btn-primary">Agregar premio</a></h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Descripcion</th>
                                        <th>Puntos requeridos</th>
                                        <th sec:authorize="hasRole('ADMIN')">Detalles</th>
                                        <th sec:authorize="hasRole('ADMIN')">Editar</th>
                                        <th sec:authorize="hasRole('ADMIN')">Eliminar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="premio : ${premio}">
                                            <td th:text="${premio.id}"></td>
                                            <td th:text="${premio.descripcion}"></td>
                                            <td th:text="${premio.puntos_requeridos}"></td>
                                            <td><a class="btn btn-info btn-sm"
                                                    th:href="@{/premioVer/} + ${premio.id}">Detalles</a></td>
                                            <td sec:authorize="hasRole('ADMIN')"><a
                                                    class="btn btn-warning btn-sm"
                                                    th:href="@{/premioForm/} + ${premio.id}">Editar</a></td>
                                            <td sec:authorize="hasRole('ADMIN')"><a
                                                    class="btn btn-danger btn-sm"
                                                    th:href="@{/premioEliminar/} + ${premio.id}"
                                                    onclick="return confirm('¿Estás seguro de eliminar el vencimiento?');">Eliminar</a></td>
                                        </tr>
                                    </tbody>
                            </table>
                            <nav th:replace="paginator-nav :: paginator"></nav>
                    </div>
            </div>
        </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>